<section data-id="{{createdplayer.id}}">
  <h6>Name:</h6>
  <h3>
    {{limit createdplayer.name 15}}
  </h2>
  <h6>Rating:</h6>
  <p>
    {{#if createdplayer.rating}}
      {{createdplayer.rating}}
    {{else}}
      No rating provided.
    {{/if}}
  </p>
  <!-- {{> partial player}} -->
</section>
