<button class="btn btn-primary" id="index-players">See All Players</button>
<button class="btn btn-primary" id="get-players">Open Pack</button>
<button class="btn btn-primary" id="index-userplayers">Look at My Team</button>
