<h3 id="message"></h3>

<form id="sign-up">
  <input type="email" name=credentials[email]
  class="form-control" placeholder="Enter Email Here" required>
  <input type="password" name=credentials[password]
  class="form-control" placeholder="Enter Password Here" required>
  <input type="password" name=credentials[password_confirmation]
  class="form-control" placeholder="Re-enter Password" required>
  <button class="btn btn-primary">Submit</button>
</form>

<form id="sign-in">
  <input type="email" name=credentials[email]
  class="form-control" placeholder="Enter Email Here" required>
  <input type="password" name=credentials[password]
  class="form-control" placeholder="Enter Password Here" required>
  <button class="btn btn-primary">Submit</button>
</form>
