{{#each userplayers as |userplayer|}}
  <section data-id="{{userplayer.player.id}}">
    <h6>Name:</h6>
    <h3>
      {{limit userplayer.player.name 15}}
    </h2>
    <h6>Rating:</h6>
    <p>
      {{#if userplayer.player.rating}}
        {{userplayer.player.rating}}
      {{else}}
        No rating provided.
      {{/if}}
    </p>
  </section>

{{/each}}
