{{#each userplayers as |userplayer|}}
  <section data-id="{{userplayer.id}}">
    <h6>Name:</h6>
    <h3>
      {{userplayer.player.name}}
    </h3>
    <h6>Rating:</h6>
    <p>
      {{#if userplayer.player.rating}}
        {{userplayer.player.rating}}
      {{else}}
        No rating provided.
      {{/if}}
    </p>
    {{> partial2 userplayer}}
  </section>

{{/each}}
